#Specifies global defaults which can be overridden in package configs

# Who to build packages as (defaults to anonymous).
# Substitute with username to use developer account
KP_DEV_ACCOUNT=""
KP_DEV_EMAIL=""

# Protocol for git (can be 'git' or 'https' or 'ssh')
# Devs should use ssh
GIT_PROTOCOL="git"

# Git group on github for git URLs
REPO_USER="kororaproject"

GIT_URL_GIT="git://github.com/${REPO_USER}"
GIT_URL_HTTP="https://github.com/${REPO_USER}"
GIT_URL_SSH="git@github.com:${REPO_USER}"

# Determine path to the kp git repository
REPO_DIR="$(dirname $(readlink -f $0))"                                                                  

# Working directories
WORKING_DIR="${REPO_DIR}/build"
LOG_DIR="${WORKING_DIR}/log"
TMP_DIR="${WORKING_DIR}/tmp"

# KP directories
CONF_DIR="${REPO_DIR}/conf"
LIB_DIR="${REPO_DIR}/lib"

# Enable debug
DEBUG=1

# Set the key to use for a release version, e.g. 18 and 19
KEY_ID[19]=DCBE2AC3
KEY_ID[20]=
KEY_ID[21]=
KEY_ID[22]=
KEY_ID[23]=
