#Specifies global defaults which can be overridden in package configs

# Who to build packages as (defaults to anonymous).
# Substitute with username to use developer account
KP_DEV_ACCOUNT=""
KP_DEV_EMAIL=""

# Protocol for git (can be 'git' or 'https' or 'ssh')
GIT_PROTOCOL="git"

# URLs for git
REPO_USER="kororaproject"

GIT_URL_GIT="git://github.com/${REPO_USER}"
GIT_URL_HTTP="https://github.com/${REPO_USER}"
GIT_URL_SSH="git@github.com:${REPO_USER}"

# Temporary location for building packages
TMP_DIR=/var/lib/kp
CONF_DIR="/var/lib/kp/conf"
#WORKING_DIR="/var/cache/kp"
#LIB_DIR="./lib"

# Enable debug
DEBUG=1

# Set the key to use for a release version, e.g. 18 and 19
KEY_ID[18]=30B55DCA
KEY_ID[19]=DCBE2AC3
